---
import Navi from "./Navi.astro";
---

<header class="Header">
	<div class="Container">
		<Navi />
	</div>
</header>

<style lang="scss">
	.Header {
		background-color: var(--blue);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
	}
</style>
